.home-page {
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background: url('./Imagenes/film.jpg') no-repeat center center fixed;
    background-size: cover;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 10px;
}

.welcome-title {
    font-size: 3em;
    color: white;
    margin-bottom: 20px;
}

.welcome-subtitle {
    font-size: 2em;
    color: white;
    margin-bottom: 30px;
}

.button-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 20px; 
}

.btn-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em; 
    padding: 20px;
    background-color: #932817;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    width: 150px; 
    height: 150px; 
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.btn-icon:hover {
    background-color: #e65c00;
}

.btn-icon svg {
    margin-bottom: 10px; 
}
