
.list-proyecto-container {
    display: flex;
    height: 100vh;
  
    background: linear-gradient(268deg, #c8b7b7, #746865, #dfd2cf);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 24s ease infinite;
    -moz-animation: AnimationName 24s ease infinite;
    -o-animation: AnimationName 24s ease infinite;
    animation: AnimationName 24s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 49%}
    50%{background-position:100% 52%}
    100%{background-position:0% 49%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 49%}
    50%{background-position:100% 52%}
    100%{background-position:0% 49%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 49%}
    50%{background-position:100% 52%}
    100%{background-position:0% 49%}
}
@keyframes AnimationName {
    0%{background-position:0% 49%}
    50%{background-position:100% 52%}
    100%{background-position:0% 49%}
}
    

.sidebar {
    width: 200px; 
    background-color: #4a4343; 
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.menu {
    color: #a3a345;
    font-style: italic; 
    font-size: 1.5em; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.btn-primary {
    margin-bottom: 5px;
    display: block;
    padding: 10px 20px;
    background-color: #5c383b;
    color: #000000;
    text-decoration: none;
    width: 100%;
    font-size: 1.2em;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: none; 
}

.btn-primary:hover {
    background-color: #547440;
    color: #fff;
}

.btn-primary:not(:last-child) {
    border-bottom: 2px solid #000000; 
}





.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.list-proyecto-header {
    margin-bottom: 20px;
}

.search-container {
    margin: 20px 0;
}

.search-container label {
    font-size: 1.2em;
}

.search-container input {
    margin-left: 10px;
    padding: 8px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 250px;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #807a7a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.styled-table th,
.styled-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.styled-table th {
    background-color: #f4f4f4;
    color: #333;
}

.styled-table tr:hover {
    background-color: #dde9df;
}



/* Contenedor principal del formulario, ajustado para ocupar toda la altura disponible */
.form {
    flex: 1; /* Hace que el formulario ocupe todo el espacio disponible */
    padding: 20px;
    overflow-y: auto;
    background-color: #816e6e;
    display: flex;
    flex-direction: column; /* Distribuye el contenido del formulario verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
    background: url('./Imagenes/photography-1850469.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;

    
}

/* Contenedor del título ajustado para no salir del límite superior */
.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110%;
    background-color: #000;
    padding: 10px 0; /* Añadido padding para espacio interno */
    transform: translateY(-30px);
}

/* Estilo para el encabezado del formulario */
.title {
    font-size: 2.5em;
    color: #f1e9e9;
    margin: 0;
    background-color: #000000;
    padding: 10px;
    text-align: center;
    width: 100%;
}

/* Estilo para la línea horizontal */
hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

/* Estilo para el formulario */
form {
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 720px;
    margin: auto;
}

/* Estilo para cada grupo de formulario */
.form-group {
    margin-bottom: 20px;
    width: 100%;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1em;
    box-sizing: border-box;
}

/* Estilo para el select con múltiples opciones */
select {
    height: auto;
}

/* Estilo para el botón de envío del formulario */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
    margin: 20px auto 0;
    display: block;
}

button:hover {
    background-color: #0056b3;
}



